h2 {
  margin: -21px 0 0 -5px;
  padding: 33px 0 15px 0;
  font-family: "Space Grotesk", sans-serif;
  color: rgb(55, 49, 99);
}
.weather-condition {
  font-family: "JetBrains Mono", monospace;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: rgb(55, 49, 99);
}
.cr-body {
  width: 23rem;
  margin-top: 55px;
  padding: 0;
}
.cr-inside-body {
  width: 39rem;
  padding: 18px 16px 0 40px;
}
#date-and-time {
  font-family: "JetBrains Mono", monospace;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: rgb(55, 49, 99);
}
