h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 75px;
  margin-top: 55px;
  margin-left: -18px;
  color: white;
}
img {
  font-size: 35px;
  margin: 50px 0 0;
}
p {
  font-family: "JetBrains Mono", monospace;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.current-weather-emoji {
  margin: 0 10px;
}
#humidity,
#wind {
  margin: -2px 0 0 125px;
  color: white;
  font-family: "JetBrains Mono", monospace;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
}
