h5 {
  font-family: "Space Grotesk", sans-serif;
}
h5 {
  opacity: 50%;
}
h5,
i {
  color: rgb(55, 49, 99);
}
h5,
h6 {
  text-align: center;
}
.row {
  --bs-gutter-x: -2.5rem;
}
.monday-card-border,
.tuesday-card-border,
.wednesday-card-border,
.thursday-card-border,
.friday-card-border {
  margin: 20px 10px;
  border: none;
}
.monday-card,
.tuesday-card,
.wednesday-card,
.thursday-card,
.friday-card {
  padding: 6px 26px;
}
p.degrees {
  text-align: center;
  margin: 65px 0 0;
  font-size: 16px;
  color: rgb(55, 49, 99);
}
.weather-forecast-temperature-min {
  color: rgba(55, 49, 99, 0.6);
}
